@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .toast-container {
        z-index: 2100000000;

        @apply fixed flex-col-reverse flex bottom-3 top-3 max-w-xs pointer-events-none
        max-sm:min-w-full max-sm:start-0 max-sm:px-2
        sm:min-w-96 sm:start-3;

        &.toast-container-stacked {
            @apply inline-grid place-items-center items-end hover:flex-col-reverse hover:flex pointer-events-auto h-fit top-auto
        }
    }

    .toast-container > .toast {
        @apply transition-all;
        box-shadow: 0 -8px 12px -12px #c5c5c5, 0 0 5px -3px #c5c5c5;
    }

    .toast-container-stacked > .toast {
        @apply row-start-1 w-full col-start-1;

        z-index: 1999999995;
        transform: translateY(-20%) scale(.6);
    }

    .toast-container > .toast:nth-child(1) {
        z-index: 2000000000;
        @apply transition-all scale-100 translate-y-0;
        box-shadow: 0 8px 12px -12px #c5c5c5, 0 -8px 12px -12px #c5c5c5, 0 0 5px -3px #c5c5c5;
    }

    .toast-container-stacked > .toast:nth-child(2) {
        z-index: 1999999999;
        transition-duration: 100ms;
        transform: translateY(-12%) scale(.9);
    }

    .toast-container-stacked > .toast:nth-child(3) {
        z-index: 1999999998;
        transition-duration: 400ms;
        transform: translateY(-24%) scale(.8);
    }

    .toast-container-stacked > .toast:nth-child(4) {
        transition-duration: 600ms;
    }

    .toast-container-stacked > .toast:nth-child(5) {
        transition-duration: 800ms;
    }

    .toast-container-stacked > .toast:nth-child(6) {
        transition-duration: 1000ms;
    }

    .toast-container-stacked > .toast:nth-child(7) {
        transition-duration: 1200ms;
    }

    .toast-container-stacked > .toast:nth-child(8) {
        transition-duration: 1400ms;
    }

    .toast-container-stacked > .toast:nth-child(9) {
        transition-duration: 1600ms;
    }

    .toast-container-stacked > .toast:nth-child(10) {
        transition-duration: 1800ms;
    }

    .toast-container-stacked > .toast:nth-child(11) {
        transition-duration: 2000ms;
    }

    .toast-container-stacked > .toast:nth-child(12) {
        transition-duration: 2200ms;
    }

    .toast-container-stacked > .toast:nth-child(13) {
        transition-duration: 2400ms;
    }

    .toast-container-stacked > .toast:nth-child(14) {
        transition-duration: 2600ms;
    }

    .toast-container-stacked > .toast:nth-child(15) {
        transition-duration: 2800ms;
    }

    .toast-container-stacked > .toast:nth-child(16) {
        transition-duration: 3000ms;
    }

    .toast-container-stacked > .toast:nth-child(17) {
        transition-duration: 3200ms;
    }

    .toast-container-stacked > .toast:nth-child(18) {
        transition-duration: 3400ms;
    }

    .toast-container-stacked > .toast:nth-child(19) {
        transition-duration: 3600ms;
    }

    .toast-container-stacked > .toast:nth-child(20) {
        transition-duration: 3800ms;
    }

    .toast-container-stacked > .toast:nth-child(21) {
        transition-duration: 4000ms;
    }

    .toast {
        @apply relative bg-white py-5 px-4 rounded-md w-full;

        & &--icon {
            @apply w-9
        }

        & &--close {
            @apply w-10
        }

        & &--body {
            @apply flex justify-between items-start w-full
        }

        & &--progress {
            @apply absolute start-0 bottom-0 w-full h-[3px] bg-gray-200 rounded-full overflow-hidden;

            &--bar {
                @apply h-full flex justify-center rounded-full overflow-hidden text-xs text-white text-center whitespace-nowrap transition-all duration-75
            }
        }
    }
}